---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://www.zoomadrid.com/content/dam/zoo/images/animals/koala/Koala-Zoo-Madrid-2.jpg"
        alt="Photo koala"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Fran <a
          href="https://linkedin.com/in/francisco-l%C3%B3pez-torres"
          target="_blank"
          rel="noopener"
          class="flex items-center"
        >
          <Badge>Disponible para ser contratado</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span class="text-yellow-200/90">Desarrollador Web</span>.<span
          class="text-blue-200/90"
        >
          De Málaga, España</span
        >. <span class="opacity-85"
          >Especializado en crear sensaciones increibles para el usuario.</span
        >
      </h2>

      <ul>
        <li>
          <a href="https://linkedin.com/in/francisco-l%C3%B3pez-torres">
            <LinkedinIcon class="w-6 h-6" />LinkedIn</a
          >
        </li>
      </ul>
    </section>
  </main>
</Layout>
